.cabeçalho {
    background-color: #b129b1;
    color: white;
    display: flex;
    padding: 24px;
    font-size: 20px;
    justify-content: space-around;
    }
*{
    margin: 0;
    padding: 0;
    }

.cabeçalhoimagem {
    width: 8%;
    height: 8%;
    }

.cabeçalholista {
    justify-content: center;
    }

.studio-gisele-dance {
    background-image: linear-gradient(#884774, #e28dd4);
    color: white;
    font-size: 20px;
    padding: 0px 250px;
    }

.beneficios-do-ballet {
    padding: 24px 0px;
    }

.cronograma-semanal {
    background-image: linear-gradient(#d67ace, #ac479e);
    color: white;
    font-size: 20px;
    padding: 0px 250px;
    }
    
.idades {
    padding: 24px 0px;
    }
.galeria {
    background-image: linear-gradient(#a056a7, #903f9b);
    color: white;
    
    font-size: 20px;
    padding: 0px 250px;
    }
.fotos {
    width: 1%;
    height: 1%;
}
